{% extends 'base.html' %}

{% block footer %} 
<footer class="text-center text-white fixed-bottom" style="font-family: 'Playball', cursive; background-color: #21081a;">


  <!-- Copyright -->
  <div class="text-center" style="padding-top: 2rem; height:13vh; background-color: rgba(0, 0, 0, 0.1);">
    <span style="color: rgba(255, 0, 0, 0.924); text-shadow: 2px 2px 3px black; font-size: 1.3vw;">©</span>  <span style="text-shadow: 2px 2px 3px black; font-size: 1.3vw;"> 2021 Copyright:</span>
    <a class="text-white" href="https://mdbootstrap.com/"> <span style="color: rgba(255, 0, 0, 0.924); text-shadow: 2px 2px 3px black; font-size: 1.3vw;"> @</span> <span style="text-shadow: 2px 2px 3px black; font-size: 1.3vw;"> Carbon Entertaiment </span> <i class="fas fa-grin-beam-sweat" style="color: yellow; font-size: 1.3vw;"></i></a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}
