{% extends 'base.html'%}

{% block css %} 
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %} 


<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <img style="position:absolute; top:-3rem; "src="{{ url_for('static', filename='/images/Screenshot_from_2021-08-27_16-06-33-removebg-preview.png')}}" alt="">
            <img src="{{ url_for('static', filename='/images/Screenshot_from_2021-08-27_16-18-21-removebg-preview.png')}}" style="position:relative; top:9rem; left:1rem;" alt="" >
            <img style="position:absolute; top:8rem; left:18rem;"src="{{ url_for('static', filename='/images/Screenshot_from_2021-08-27_16-06-33-removebg-preview.png')}}" alt="">
        </div>
        <div class="col-md-6">
            <div class="m-3" style="padding-top:5rem;">
                <h1 style="font-family: 'Courgette', cursive; "><strong> Welcome to pitches</strong></h1>
                <small class="text-muted m-3" style="font-family: 'Courgette', cursive;  padding-top:-2rem;">By Carbon</small>
                <h5 class="text-muted m-3" style="font-family: 'Lobster', cursive; padding-top:2rem;">“If there’s one thing you learn by working on a lot of different Web sites, it’s that almost any design idea–no matter how appallingly bad–can be made usable in the right circumstances, with enough effort.”</h5>

                <small class="text-muted m-4 d-flex" style="font-family: 'Great Vibes', cursive; ">Contact us on :<br>  <span class=" m-3 d-flex"><a  class="m-2"  href="">instagram  </a><a  class="m-2"  href=""> Twitter</a><a  class="m-2"   href=""> Facebook</a></span></small>
                
            </div>
        </div>
    
    </div>



</div>



{% endblock %}
