{% extends 'base.html'%}

{% block css %} 
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %} 


<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <img style="position:absolute; top:-3rem; "src="{{ url_for('static', filename='/images/Screenshot_from_2021-08-27_16-06-33-removebg-preview.png')}}" alt="">
            <img src="{{ url_for('static', filename='/images/Screenshot_from_2021-08-27_16-18-21-removebg-preview.png')}}" style="position:relative; top:9rem; left:1rem;" alt="" >
            <img style="position:absolute; top:8rem; left:18rem;"src="{{ url_for('static', filename='/images/Screenshot_from_2021-08-27_16-06-33-removebg-preview.png')}}" alt="">
        </div>
        <div class="col-md-6">
            <div class="m-3" style="padding-top:5rem;">
                <h1 style="font-family: 'Courgette', cursive; "><strong> Welcome to pitches</strong></h1>
                <small class="text-muted m-3" style="font-family: 'Courgette', cursive;  padding-top:-2rem;">By Carbon</small>
                <h5 class="text-muted m-3" style="font-family: 'Lobster', cursive; padding-top:2rem;">“If there’s one thing you learn by working on a lot of different Web sites, it’s that almost any design idea–no matter how appallingly bad–can be made usable in the right circumstances, with enough effort.”</h5>

                <small class="text-muted m-4 d-flex" style="font-family: 'Great Vibes', cursive; ">Contact us on :<br>  <span class=" m-3 d-flex"><a  class="m-2"  href="">instagram  </a><a  class="m-2"  href=""> Twitter</a><a  class="m-2"   href=""> Facebook</a></span></small>
                
            </div>
        </div>
    
    </div>



</div>



{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light">
  
    <!-- Container wrapper -->
      <div class="container-fluid">
      <p class="m-1 text-white" style="font-family: 'Playball', cursive; font-size:1.8rem;"> <i class="fas fa-award pt-1" style="font-size:1.5rem; color: gold;"></i> Bazenga App's <i style="font-size:1.5rem; color: gold;" class="fas fa-smile-wink"></i></p>
        <!-- Toggle button -->
        <button
          class="navbar-toggler bg-light"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarRightAlignExample"
          aria-controls="navbarRightAlignExample"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarRightAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item Home">
              <a style="text-shadow: 2px 2px 2px black; color: white; font-family: 'Signika Negative', sans-serif;" class="nav-link active" aria-current="page" href="{{ url_for('main.home') }}">Home</a>
            </li>
            <li class="nav-item">
                  <a style="margin-left:1rem; text-shadow: 2px 2px 2px black; color: white; font-family: 'Signika Negative', sans-serif;" class="nav-link" href="{{ url_for('auth.blogs') }}">Blogs</a>
                </li>
            <li class="text-center" style="text-shadow: 2px 2px 2px black; margin-left:-1rem;">
              {% if current_user.is_authenticated %}
  
                <li class="nav-item">
                  <a style="margin-left:1rem;text-shadow: 2px 2px 2px black; color: white; font-family: 'Signika Negative', sans-serif;" class="nav-link" href="{{ url_for('auth.post') }}">Add blog</a>
                </li> 
                <li class="nav-item">
                  <a style="text-shadow: 2px 2px 2px black; color: white; font-family: 'Signika Negative', sans-serif;" class="nav-link" href="{{ url_for('auth.Account') }}">Profile</a>
                </li>
                <a href="{{ url_for('auth.signOut') }}"><button style="margin-left:1rem; font-family: 'Signika Negative', sans-serif;"  type="button"
                class="btn btn-outline-success btn-rounded "
                data-mdb-ripple-color="dark">log out</button></a>
              {% else %}
                <a href="{{ url_for('auth.signUp') }}"><button  type="button" class="btn btn-success btn-rounded" style="font-family: 'Signika Negative', sans-serif; position: relative;left: 1.5rem; top: 0px; z-index: 1;">Sign Up</button></a>
                <a href="{{ url_for('auth.signIn') }}"><button style="font-family: 'Signika Negative', sans-serif;"  type="button"
                class="btn btn-outline-success btn-rounded"
                data-mdb-ripple-color="dark">Sign In</button></a>
              {% endif %}
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
  </nav>
    
<!-- {% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %} -->